body {
    margin: 0;
    background: #f4f4f4;
    font-family: Arial;
}
.contact-form {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
button {
    padding: 10px;
    width: 100%;
    background: #ffc220;
    border: none;
    border-radius: 5px;
}