body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    background: #0071dc;
}
.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
button {
    width: 100%;
    padding: 10px;
    background: #ffc220;
    border: none;
    border-radius: 5px;
}